{% extends 'base.html' %}

    <!-- Content -->
{% block content %}
{% if user.is_authenticated %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                <div>
                    <h4 class="mb-3">Parties Report</h4>
                    <p class="mb-0">The Parties Report delivers an in-depth overview of transactions, activities, and relationships with<br>suppliers, vendors, or clients, supporting effective partnership management.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="table-responsive rounded mb-3">
            <table class="data-tables table mb-0 tbl-server-info">
                <thead class="bg-white text-uppercase">
                    <tr class="ligth ligth-data">
                        <th>
                            <div class="checkbox d-inline-block">
                                <input type="checkbox" class="checkbox-input" id="checkbox1">
                                <label for="checkbox1" class="mb-0"></label>
                            </div>
                        </th>
                        <!-- <th>Image</th> -->
                        <th>Party Code</th>
                        <th>Party Name</th>
                        <th>Leader Name</th>
                        <th>WareHouse Leader</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="ligth-body">
                    {% for party in partiesreport %}
                    <tr>
                        <td>
                            <div class="checkbox d-inline-block">
                                <input type="checkbox" class="checkbox-input" id="checkbox2">
                                <label for="checkbox2" class="mb-0"></label>
                            </div>
                        </td>
                        <!-- <td>{{product.image}}</td> -->
                        <td>{{party.party_code}}</td>
                        <td>{{party.party_name}}</td>
                        <td>{{party.leader_name}}</td>
                        <td>{{party.wh_leader}}</td>
                        <td>{{party.start_date}}</td>
                        <td>{{party.end_date}}</td>
                        <td>
                            <div class="d-flex align-items-center list-action">
                                <a class="badge badge-light mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Invoice"
                                    href="{% url 'invoice_page' party.party_code %}"><i class="ri-bill-line"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <!-- Page end  -->
</div>
{% else %}

<h1>Sorry! You Must Be Logged In To View This Page...</h1>
<a href="{% url 'login' %}" class="btn border">LOG IN</a>
{% endif %}
{% endblock content %}
    <!-- End Content -->