{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>SMC/SLT</title>
      
      <!-- Favicon -->
      <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

      <!-- CSS Files -->
      <link rel="stylesheet" href="{% static 'css/backend-plugin.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/backend.css?v=1.0.0' %}">
      <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}">
      <link rel="stylesheet" href="{% static 'vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'vendor/remixicon/fonts/remixicon.css' %}">
      </head>
  <body class="  ">
        <!-- loader Start -->
        <div id="loading">
            <div id="loading-center">
            </div>
      </div>
      <!-- loader END -->

      <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Sidebar -->
        {% include 'parts/sidebar.html' %}

        <!-- Navbar -->
        {% include 'parts/navbar.html' %}

        <!-- Content -->
        <div class="content-page">
            {% if messages %}
            <div class="alert-container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
            {% block content %}
            {% endblock content %}
        </div>
        
        <!-- Footer -->
        {% include 'parts/footer.html' %}
        

    </div>

        
<!-- Modals -->
{% block modals %}
<div class="modal fade" id="new-order" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="popup text-left">
                    <h4 class="mb-3">New Order</h4>
                    <form id="new-order-form">
                        <div class="content create-workform bg-body">
                            <div class="pb-3">
                                <label class="mb-2">Party Code</label>
                                <input 
                                    type="text" 
                                    name="party_code" 
                                    class="form-control" 
                                    placeholder="Enter Code of Party"
                                    required
                                >
                            </div>
                            <div class="col-lg-12 mt-4">
                                <div class="d-flex flex-wrap align-items-center justify-content-center">
                                    <button type="button" class="btn btn-primary mr-4" data-dismiss="modal">Cancel</button>
                                    <button 
                                        type="button" 
                                        class="btn btn-outline-primary" 
                                        onclick="redirectToFilteredPage()"
                                    >
                                        Create
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock modals %}
<!-- End Modals -->



<!-- Backend Bundle JavaScript -->
<script src="{% static 'js/backend-bundle.min.js' %}"></script>
    
<!-- Table Treeview JavaScript -->
<script src="{% static 'js/table-treeview.js' %}"></script>

<!-- Chart Custom JavaScript -->
<script src="{% static 'js/customizer.js' %}"></script>

<!-- Chart Custom JavaScript -->
<script async src="{% static 'js/chart-custom.js' %}"></script>

<!-- app JavaScript -->
<script src="{% static 'js/app.js' %}"></script>


</body>
</html>